<% if notice %>
	<div class="notice flash-bar">
		<%= notice %>
		<a class="close" href="#">x</a>
	</div>
<% end %>
<% if alert %>
	<div class="alert flash-bar">
		<%= alert %>
		<a class="close" href="#">x</a>
	</div>
<% end %>